<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataModul.Properties.Settings.aspnet_Softbucks_20140302121355ConnectionString"
            connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=D:\Softbucks\Softbucks\App_Data\aspnet-Softbucks-20140302121355.mdf;Initial Catalog=aspnet-Softbucks-20140302121355;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataModul.Properties.Settings.aspnet_Softbucks_20140302121355ConnectionString1"
            connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=D:\Cloud@Mail.Ru\Softbucks\Softbucks\App_Data\aspnet-Softbucks-20140302121355.mdf;Initial Catalog=aspnet-Softbucks-20140302121355;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>