<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataModul.Properties.Settings.aspnet_Softbucks_20140302121355ConnectionString"
            connectionString="Data Source=ilya.database.windows.net;Initial Catalog=test;Persist Security Info=True;User ID=ilya;Password=Twmo3urx"
            providerName="System.Data.SqlClient" />
        <add name="DataModul.Properties.Settings.aspnet_Softbucks_20140302121355ConnectionString1"
            connectionString="Data Source=ilya.database.windows.net;Initial Catalog=test;Persist Security Info=True;User ID=ilya;Password=Twmo3urx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>